/*=======/ Contenedor Principal /======*/
.main{
    padding: 80px 0;
}

/*=======/ Seccion Sobre Mi /======*/
.section__sobremi {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.titulo__sobremi {
    font-size: var(--biggest-font-size);
    font-weight: var(--font-bold);
    color: var(--Text-Color);
    margin-bottom: 20px;
}
.foto__sobremi {
    height: 250px;
    justify-content: center;
    margin: auto;
}
.descripcion__sobremi {
    background-color: var(--Secondary-Color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
}
.lista__sobremi {
    background-color: var(--Terciarty-Color);
    padding: 20px;
    padding-left: 50px;
    justify-content: center;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/*=======/ Seccion Proyectos /======*/
.section__proyectos {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: auto;
}
.titulo__proyectos {
    font-size: var(--biggest-font-size);
    font-weight: var(--font-bold);
    color: var(--Text-Color);
    margin-bottom: 20px;
}
.lista__proyectos {
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    list-style: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.proyectos__item {
    background-color: var(--Secondary-Color);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.titulo__item {
    font-size: var(--normal-font-size);
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
}
.parrafo__proyectos {
    font-size: var(--normal-font-size);
    color: var(--Text-Color);
    margin: 10px 0;
    float: right;
    width: 300px;
    height: 200px;
}
.img__proyectos {
    width: 30%;
    border-radius: 900px;
    margin-top: 10px;
    float: left;
}
.link__proyectos {
    color: var(--Link-Color);
    font-weight: 500;
    font-size: 18px;
    transition: color 0.3s ease;
    width: 200px;
    height: 200px;
    
    
}
.link__proyectos:hover {
    color: var(--Accent-Color);
}

/*=======/ Seccion de Blog /======*/
.section__blog {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo__blog {
    font-size: var(--biggest-font-size);
    font-weight: var(--font-bold);
    color: var(--Text-Color);
    margin-bottom: 20px;
}
/*=======/ Seccion de Referencias /======*/
.section__referencias {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo__referencias {
    font-size: var(--biggest-font-size);
    font-weight: var(--font-bold);
    color: var(--Text-Color);
    margin-bottom: 20px;
}
.lista__referencias {
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    list-style: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.parrafo__referencias {
    font-size: var(--normal-font-size);
    color: var(--Text-Color);
    margin: 10px 0;
    background-color: var(--Terciarty-Color);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.datos__referencias {
    font-size: var(--normal-font-size);
    color: var(--Text-Color);
    margin: 10px 0;
    font-weight: var(--font-semi-bold);
    background-color: var(--Secondary-Color);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 900px;
    float: right;
}
.img__referencias {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
    display: flex;
}
/*=======/ Seccion de Contactos /======*/
.section__contactos {
    background-color: var(--Secondary-Color);
    width: 50%;
    margin: auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.titulo__contactos {
    font-size: var(--biggest-font-size);
    font-weight: var(--font-bold);
    color: var(--Text-Color);
    margin-bottom: 20px;
}
.formulario__contactos {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.fieldset__contactos {
    border: 2px solid var(--Text-Color);
    padding: 20px;
    border-radius: 10px;
}
.legend__contactos {
    font-size: var(--normal-font-size);
    font-weight: var(--font-bold);
    color: var(--Text-Color);
    margin-bottom: 10px;
}
.label__contactos {
    font-size: var(--normal-font-size);
    color: var(--Text-Color);
    display: flex;
    align-items: center;
}
.boton__contactos {
    background-color: var(--Main-Color);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
}
.boton__contactos:hover {
    background-color: var(--Accent-Color);
}
